.navbar{
    display: flex;
align-items: center;
justify-content: space-between;
            
}
.school {
    display: flex;
    align-items: center;
   
}
.list{
    display: flex;
}
.img{
    margin-left: 141px;
}
.hi{
    gap: 11px;
}
.btn{
     margin-right: 141px;
     background-color: rgba(254, 163, 1, 1);
     color: white;
     border: none;
     width: 197px;
     border-radius: 12px;
     font-size: 20px;
     font-weight: 600;
     
     

}
.li{
    list-style: none;
    margin-right: 30px;
}
.i{
    color: rgba(254, 163, 1, 1);
}
.p{
    color: rgba(1, 172, 253, 1);
}
.j{
    color: rgba(5, 212, 223, 1);
}
.y{
    color: rgba(93, 88, 239, 1);
}
.img-primary{
    width: 468px;
    margin-right: 140px;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.contianer{
    margin-top: 122px;
}
.btn-primary{
    background-color: rgba(17, 17, 17, 1);
    color: white;
    border: none ;
    border-radius: 12px;
    width: 197px;
    height: 50px;
}
.empowering{
    font-size: 56px;
    font-weight: bold;
}
.paragarph{
    font-size: 20;
    font-weight: normal;
}
.t{
    color: rgba(254, 163, 1, 1);
}
.r{
    color: rgba(1, 172, 253, 1);
}
.standerd{
    text-align: center;
    font-size: 46;
    font-weight: bold;
}
.bg {
    position: absolute; 
    margin-top: 20px;
  }
 .skill-container{
    display: flex;
    justify-content: space-around;
    background-image: url(../assets/bg.png);
    

 }
 .skillq{
    border:3px solid rgba(222, 245, 255, 1);
    width: 200px;
    height: 367px;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1),white)
    
 }
 .skills{
    border:3px solid rgba(255, 244, 220, 1) ;
    width: 200px;
    height: 367px;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1),white)

 }
 .skillr{
    border: 3px solid rgba(242, 232, 255, 1);
    box-shadow: opx 6px 50px 0px rgba(242, 232, 255, 1);
    text-align: center;
    width: 200px;
    padding: 20px;
    height: 367px;
    border-radius: 18px;
    background: linear-gradient(to bottom, rgba(242, 232, 255, 1),white)
   
 }
 .src{
    border: none;
    color: rgba(100, 200, 255, 1);
font-size: 15px;
font-weight: bold;
background-color: white;
 }
 .rer{
    border: none;
    color: rgba(240, 170, 0, 1);
    font-size: 15px;
font-weight: bold;
background-color: white;
 }
 .any{
    border: none;
    color: rgba(135, 0, 255, 1);
    font-size: 15px;
font-weight: bold;
background-color: white;
 }
.you{
    justify-items: center;
    text-align: center;
}
.stories{
    padding: 20px;
    text-align: center;
    background-color: white;
    display: flex;
    grid-template-columns: repeat(2,1fr);
   
}
.story-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: center;

}

  
  .story-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .story-info {
    padding: 15px;
    text-align: left;
  }
  
  .story-info .dates {
    font-size:15px;
    color: white;
    background-color: rgba(60, 216, 232, 1);
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
  }
  
  .story-info h3 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  
  

@media (max-width:425px) {
    .navbar{
        border: 1px solid rgba(254, 163, 1, 1);
        display: none;
        
    }
    .hero{
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .img-primary{
        width: 100%;
        margin:0px;
        order: -1;
    }
    .empowering{
        font-size: 32px;
        text-align: center;
        margin-top: 10px;
    }
    .btn{
        margin-right: 0;
        width: 100%;
        margin-top: 20px;
    }
    .skill-container{
        flex-direction: column;
        align-items: center;
    }
    .skillq,.skills,.skillr{
        width: 90%;
        height: auto;
        margin-bottom: 20px
    }
    .srs,.rer,.any{
        font-size: 13px;
        padding: 10px;

    }
    .btn-primary{
        width: 100%;
        height: auto;
        font-size: 18px;
       

    }
    .bg{
        margin-top: 10px;
    }
}
    


 
